.row.mt
  .col-lg-12
    .content-panel
      %h4
        %i.fa.fa-angle-right
        Responsive Table
      %section#unseen
        %table.table.table-bordered.table-striped.table-condensed
          %thead
            %tr
              %th Code
              %th Company
              %th.numeric Price
              %th.numeric Change
              %th.numeric Change %
              %th.numeric Open
              %th.numeric High
              %th.numeric Low
              %th.numeric Volume
          %tbody
            %tr
              %td AAC
              %td AUSTRALIAN AGRICULTURAL COMPANY LIMITED.
              %td.numeric $1.38
              %td.numeric -0.01
              %td.numeric -0.36%
              %td.numeric $1.39
              %td.numeric $1.39
              %td.numeric $1.38
              %td.numeric 9,395
            %tr
              %td AAD
              %td ARDENT LEISURE GROUP
              %td.numeric $1.15
              %td.numeric +0.02
              %td.numeric 1.32%
              %td.numeric $1.14
              %td.numeric $1.15
              %td.numeric $1.13
              %td.numeric 56,431
            %tr
              %td AAX
              %td AUSENCO LIMITED
              %td.numeric $4.00
              %td.numeric -0.04
              %td.numeric -0.99%
              %td.numeric $4.01
              %td.numeric $4.05
              %td.numeric $4.00
              %td.numeric 90,641
            %tr
              %td ABC
              %td ADELAIDE BRIGHTON LIMITED
              %td.numeric $3.00
              %td.numeric +0.06
              %td.numeric 2.04%
              %td.numeric $2.98
              %td.numeric $3.00
              %td.numeric $2.96
              %td.numeric 862,518
            %tr
              %td ABP
              %td ABACUS PROPERTY GROUP
              %td.numeric $1.91
              %td.numeric 0.00
              %td.numeric 0.00%
              %td.numeric $1.92
              %td.numeric $1.93
              %td.numeric $1.90
              %td.numeric 595,701
            %tr
              %td ABY
              %td ADITYA BIRLA MINERALS LIMITED
              %td.numeric $0.77
              %td.numeric +0.02
              %td.numeric 2.00%
              %td.numeric $0.76
              %td.numeric $0.77
              %td.numeric $0.76
              %td.numeric 54,567
            %tr
              %td ACR
              %td ACRUX LIMITED
              %td.numeric $3.71
              %td.numeric +0.01
              %td.numeric 0.14%
              %td.numeric $3.70
              %td.numeric $3.72
              %td.numeric $3.68
              %td.numeric 191,373
            %tr
              %td ADU
              %td ADAMUS RESOURCES LIMITED
              %td.numeric $0.72
              %td.numeric 0.00
              %td.numeric 0.00%
              %td.numeric $0.73
              %td.numeric $0.74
              %td.numeric $0.72
              %td.numeric 8,602,291
            %tr
              %td AGG
              %td ANGLOGOLD ASHANTI LIMITED
              %td.numeric $7.81
              %td.numeric -0.22
              %td.numeric -2.74%
              %td.numeric $7.82
              %td.numeric $7.82
              %td.numeric $7.81
              %td.numeric 148
            %tr
              %td AGK
              %td AGL ENERGY LIMITED
              %td.numeric $13.82
              %td.numeric +0.02
              %td.numeric 0.14%
              %td.numeric $13.83
              %td.numeric $13.83
              %td.numeric $13.67
              %td.numeric 846,403
            %tr
              %td AGO
              %td ATLAS IRON LIMITED
              %td.numeric $3.17
              %td.numeric -0.02
              %td.numeric -0.47%
              %td.numeric $3.11
              %td.numeric $3.22
              %td.numeric $3.10
              %td.numeric 5,416,303
    / /content-panel
  / /col-lg-4