%aside
  #sidebar.nav-collapse
    / sidebar menu start
    %ul#nav-accordion.sidebar-menu
      %p.centered
        %a{:href => "profile.html"}
          %img.img-circle{:src => "/assets/ui-mason.png", :width => "60"}/
      %h5.centered=current_user
      -if !current_page?(root_url)
        %li.mt
          %a{:href => "/"}
            %i.fa.fa-dashboard
            %span Dashboard
      / %li.sub-menu
      /   %a{:href => "javascript:;"}
      /     %i.fa.fa-bar-chart-o
      /     %span Charts
      /   %ul.sub
      %li
        %a{:href => "/display"} 
          %i.fa.fa-desktop
          %span Display
    -#  
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-desktop
          %span UI Elements
        %ul.sub
          %li
            %a{:href => "general.html"} General
          %li
            %a{:href => "buttons.html"} Buttons
          %li
            %a{:href => "panels.html"} Panels
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-cogs
          %span Components
        %ul.sub
          %li
            %a{:href => "calendar.html"} Calendar
          %li
            %a{:href => "gallery.html"} Gallery
          %li
            %a{:href => "todo_list.html"} Todo List
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-book
          %span Extra Pages
        %ul.sub
          %li
            %a{:href => "blank.html"} Blank Page
          %li
            %a{:href => "login.html"} Login
          %li
            %a{:href => "lock_screen.html"} Lock Screen
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-tasks
          %span Forms
        %ul.sub
          %li
            %a{:href => "form_component.html"} Form Components
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-th
          %span Data Tables
        %ul.sub
          %li
            %a{:href => "basic_table.html"} Basic Table
          %li
            %a{:href => "responsive_table.html"} Responsive Table
      %li.sub-menu
        %a{:href => "javascript:;"}
          %i.fa.fa-bar-chart-o
          %span Charts
        %ul.sub
          %li
            %a{:href => "/morris"} Morris
          %li
            %a{:href => "/chartjs"} Chartjs
          %li
            %a{:href => "/mapbox"} Mapbox
    / sidebar menu end
/ sidebar end